@keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotate(-50deg); }
  100% {
    transform: rotate(0deg);
    opacity: 1; } }
@-webkit-keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotate(-50deg); }
  100% {
    transform: rotate(0deg);
    opacity: 1; } }
@-moz-keyframes rotateIn {
  0% {
    opacity: 0;
    transform: rotate(-50deg); }
  100% {
    transform: rotate(0deg);
    opacity: 1; } }
@keyframes rotateNav {
  0% {
    opacity: 1;
    transform: rotate(0deg); }
  100% {
    transform: rotate(90deg);
    opacity: 1; } }
@-webkit-keyframes rotateNav {
  0% {
    opacity: 1;
    transform: rotate(0deg); }
  100% {
    transform: rotate(90deg);
    opacity: 1; } }
@-moz-keyframes rotateNav {
  0% {
    opacity: 1;
    transform: rotate(0deg); }
  100% {
    transform: rotate(90deg);
    opacity: 1; } }
@keyframes rotateNavBack {
  0% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(0deg); } }
@-webkit-keyframes rotateNavBack {
  0% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(0deg); } }
@-moz-keyframes rotateNavBack {
  0% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes slideNavIn {
  100% {
    right: 0; } }
@-webkit-keyframes slideNavIn {
  100% {
    right: 0; } }
@-moz-keyframes slideNavIn {
  100% {
    right: 0; } }
@keyframes slideNavOut {
  100% {
    right: -400px; } }
@-webkit-keyframes slideNavOut {
  100% {
    right: -400px; } }
@-moz-keyframes slideNavOut {
  100% {
    right: -400px; } }
@keyframes slideInLeft {
  0% {
    right: -1000px; }
  100% {
    right: 0px;
    opacity: 1; } }
@-webkit-keyframes slideInLeft {
  0% {
    right: -1000px; }
  100% {
    right: 0px;
    opacity: 1; } }
@-moz-keyframes slideInLeft {
  0% {
    right: -1000px; }
  100% {
    right: 0px;
    opacity: 1; } }
@keyframes rollInMobile {
  0% {
    top: -100%;
    left: -100%;
    background-color: transparent; }
  100% {
    top: 1%;
    left: -10%;
    background-color: rgba(255, 109, 16, 0.85); } }
@-webkit-keyframes rollInMobile {
  0% {
    top: -100%;
    left: -100%;
    background-color: transparent; }
  100% {
    top: 1%;
    left: -10%;
    background-color: rgba(255, 109, 16, 0.85); } }
@-moz-keyframes rollInMobile {
  0% {
    top: -100%;
    left: -100%;
    background-color: transparent; }
  100% {
    top: 1%;
    left: -10%;
    background-color: rgba(255, 109, 16, 0.85); } }
@keyframes fallDown {
  0% {
    padding: 0 0 0 0; }
  100% {
    padding: 20% 0 0 0; } }
@-webkit-keyframes fallDown {
  0% {
    padding: 0 0 0 0; }
  100% {
    padding: 20% 0 0 0; } }
@-moz-keyframes fallDown {
  0% {
    padding: 0 0 0 0; }
  100% {
    padding: 20% 0 0 0; } }
@keyframes spinCog {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes spinCog {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes spinCog {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes opac {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes opac {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes opac {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes shrinkage {
  100% {
    width: 100px;
    height: 100px; } }
@-webkit-keyframes shrinkage {
  100% {
    width: 100px;
    height: 100px; } }
@-moz-keyframes shrinkage {
  100% {
    width: 100px;
    height: 100px; } }
@keyframes maxShrinkage {
  100% {
    width: 100%;
    margin: 25px 10%; } }
@-webkit-keyframes maxShrinkage {
  100% {
    width: 100%;
    margin: 25px 10%; } }
@-moz-keyframes maxShrinkage {
  100% {
    width: 100%;
    margin: 25px 10%; } }
@keyframes shrinkageI {
  100% {
    width: 45px;
    padding: 97% 0 0 0; } }
@-webkit-keyframes shrinkageI {
  100% {
    width: 45px;
    padding: 97% 0 0 0; } }
@-moz-keyframes shrinkageI {
  100% {
    width: 45px;
    padding: 97% 0 0 0; } }
@keyframes shrinkageIcon {
  100% {
    -webkit-text-size-adjust: none;
    padding: 20px 0 0 12px; } }
@-webkit-keyframes shrinkageIcon {
  100% {
    -webkit-text-size-adjust: none;
    padding: 20px 0 0 12px; } }
@-moz-keyframes shrinkageIcon {
  100% {
    -webkit-text-size-adjust: none;
    padding: 20px 0 0 12px; } }
@keyframes therapyShrinkage {
  100% {
    width: 60px;
    margin: 0 auto;
    padding: 15px 0 0 20px; } }
@-webkit-keyframes therapyShrinkage {
  100% {
    width: 60px;
    margin: 0 auto;
    padding: 15px 0 0 20px; } }
@-moz-keyframes therapyShrinkage {
  100% {
    width: 60px;
    margin: 0 auto;
    padding: 15px 0 0 20px; } }
@keyframes ballsShrinkage {
  100% {
    width: 1em;
    height: 1em; } }
@-webkit-keyframes ballsShrinkage {
  100% {
    width: 1em;
    height: 1em; } }
@-moz-keyframes ballsShrinkage {
  100% {
    width: 1em;
    height: 1em; } }
@keyframes ballsShrinkageTwo {
  100% {
    width: 1em;
    height: 1em; } }
@-webkit-keyframes ballsShrinkageTwo {
  100% {
    width: 1em;
    height: 1em; } }
@-moz-keyframes ballsShrinkageTwo {
  100% {
    width: 1em;
    height: 1em; } }
@keyframes goOpac {
  100% {
    opacity: 0;
    height: 0;
    margin: 0;
    visibility: hidden; } }
@-webkit-keyframes goOpac {
  100% {
    opacity: 0;
    height: 0;
    margin: 0;
    visibility: hidden; } }
@-moz-keyframes goOpac {
  100% {
    opacity: 0;
    height: 0;
    margin: 0;
    visibility: hidden; } }
@keyframes leaveAndComeBack {
  50% {
    margin: 0 0 0 -200%; }
  100% {
    margin: 0 auto; } }
@-webkit-keyframes leaveAndComeBack {
  50% {
    margin: 0 0 0 -200%; }
  100% {
    margin: 0 auto; } }
@-moz-keyframes leaveAndComeBack {
  50% {
    margin: 0 0 0 -200%; }
  100% {
    margin: 0 auto; } }
@keyframes rollInTwo {
  0% {
    bottom: -100%;
    left: -100%;
    background-color: transparent; }
  100% {
    bottom: -75%;
    left: -10%;
    background-color: rgba(255, 109, 16, 0.85); } }
@-webkit-keyframes rollInTwo {
  0% {
    bottom: -100%;
    left: -100%;
    background-color: transparent; }
  100% {
    bottom: -75%;
    left: -10%;
    background-color: rgba(255, 109, 16, 0.85); } }
@-moz-keyframes rollInTwo {
  0% {
    bottom: -100%;
    left: -100%;
    background-color: transparent; }
  100% {
    bottom: -75%;
    left: -10%;
    background-color: rgba(255, 109, 16, 0.85); } }
html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */ }

body, h1, h2, h3, h4, h5, p, span, input, label, div {
  font-family: "Nunito", sans-serif;
  color: #484848; }

body {
  margin: 0; }

#tree-background {
  background: url(img/tree.png) no-repeat;
  position: absolute;
  background-size: 23%;
  z-index: -1000;
  width: 100%;
  height: 100vh;
  background-position: 0% 100%; }

.full {
  width: 100%;
  min-height: 100vh;
  height: auto; }
  .full .section-title {
    text-transform: uppercase;
    font-size: 3em;
    text-align: left;
    font-weight: 500;
    margin: 25px 0 0 0; }

.section-divider {
  width: 85%;
  margin: 0 auto; }

#divider-orange {
  border-top: 1px solid rgba(255, 109, 16, 0.25); }

#divider-green {
  border-top: 1px solid rgba(6, 255, 68, 0.25); }

#divider-purp {
  margin-top: 25px;
  border-top: 1px solid rgba(249, 32, 205, 0.25); }

#about {
  padding: 25px 0;
  margin: 0 0 25px 0; }
  #about .about-text {
    color: #484848;
    font-size: 1.3em; }
  #about .about-ul .about-li {
    color: #484848;
    font-size: 1.3em; }
  #about .services-link {
    cursor: pointer;
    font-weight: 900; }
  #about #services-link-orange {
    color: #ff6d10; }
  #about #services-link-green {
    color: #06e144; }
  #about #services-link-purp {
    color: #1c93d0; }

#navigation {
  width: 40px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 25px 25px 0 0;
  z-index: 1000;
  opacity: 0;
  list-style-type: none;
  padding: 0;
  cursor: pointer; }
  #navigation .nav-stripe {
    width: 100%;
    height: 5px;
    margin: 0 0 5px 0; }
  #navigation #purp {
    background-color: #1c93d0; }
  #navigation #green {
    background-color: #06e144; }
  #navigation #orange {
    background-color: #ff6d10;
    margin: 0 0 0 0 !important; }

@media screen and (max-width: 750px) {
  #navigation {
    margin-top: 5px;
    margin-right: 5px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    width: 60px; } }
.come-in {
  animation: slideInLeft .25s .8s ease forwards, rotateIn .75s .8s ease-out forwards;
  -webkit-animation: slideInLeft .25s .8s ease forwards, rotateIn .75s .8s ease-out forwards;
  -moz-animation: slideInLeft .25s .8s ease forwards, rotateIn .75s .8s ease-out forwards; }

.navigation-toggled {
  animation: rotateNav .5s ease forwards !important;
  -webkit-animation: rotateNav .5s ease forwards !important;
  -moz-animation: rotateNav .5s ease forwards !important; }

.navigation-untoggled {
  animation: rotateNavBack .5s ease forwards !important;
  -webkit-animation: rotateNavBack .5s ease forwards !important;
  -moz-animation: rotateNavBack .5s ease forwards !important; }

.navigation-opacity {
  opacity: 1 !important; }

#navigation-overlay-container {
  position: fixed;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.8);
  width: 400px;
  height: 100vh;
  right: -400px;
  top: 0; }
  #navigation-overlay-container #close-nav {
    float: right;
    margin: 15px 15px 0 0;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    border: 1px solid #fff;
    cursor: pointer; }
    #navigation-overlay-container #close-nav i {
      color: #fff;
      font-size: 3em;
      text-align: center;
      margin: 4px 0 0 10px; }
  #navigation-overlay-container #navigation-overlay {
    list-style-type: none; }
    #navigation-overlay-container #navigation-overlay .navigation-group {
      margin: 50px 0 0 0; }
      #navigation-overlay-container #navigation-overlay .navigation-group .nav-item {
        color: #fff;
        text-transform: uppercase;
        margin: 15px 0;
        font-size: 20pt;
        cursor: pointer; }

@media screen and (max-width: 750px) {
  #navigation-overlay-container {
    width: 250px; } }
#home .home-text-container {
  color: #484848;
  position: relative;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  padding: 20% 0 0 0;
  opacity: 0;
  animation: opac .8s ease forwards;
  -webkit-animation: opac .8s ease forwards;
  -moz-animation: opac .8s ease forwards; }
  #home .home-text-container .home-text-title {
    color: #484848;
    margin: 0 0 25px 0;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 500; }
  #home .home-text-container .home-text-secondary-title {
    color: #484848;
    font-weight: 100;
    margin: 0; }
  #home .home-text-container .home-text-body {
    color: #484848;
    font-size: 10pt;
    margin: 0; }
@media screen and (max-width: 400px) {
  #home .home-text-container {
    padding: 35% 0 0 0; } }
@media screen and (max-height: 515px) {
  #home .home-text-container {
    padding: 23% 0 0 0; } }

#faqs #cog-background {
  background: url(img/cog.png) no-repeat;
  position: absolute;
  background-size: 100%;
  z-index: -1100;
  width: 100px;
  height: 100px;
  background-position: center;
  margin: 39% 0 0 80%;
  opacity: 0.7;
  filter: alpha(opacity=70);
  animation: spinCog 10s linear infinite;
  -webkit-animation: spinCog 10s linear infinite;
  -moz-animation: spinCog 10s linear infinite; }
#faqs #cog-background-2 {
  background: url(img/cog.png) no-repeat;
  position: absolute;
  background-size: 100%;
  z-index: -1200;
  width: 250px;
  height: 250px;
  background-position: center;
  margin: 10% 0 0 30%;
  opacity: 0.3;
  filter: alpha(opacity=30);
  animation: spinCog 60s linear infinite;
  -webkit-animation: spinCog 60s linear infinite;
  -moz-animation: spinCog 60s linear infinite; }
#faqs #faq-title {
  text-transform: uppercase;
  margin: 0 auto;
  padding: 50px 0;
  font-size: 3em;
  min-width: 300px; }
@media screen and (max-width: 750px) {
  #faqs #faq-title {
    padding: 20px 0; } }
#faqs .faq-container .faq .faq-question {
  margin: 0 0 15px 0;
  font-size: 1.5em;
  cursor: pointer; }
#faqs .faq-container .faq .faq-answer {
  margin: 0;
  display: none;
  font-size: 1.3em; }
  #faqs .faq-container .faq .faq-answer p {
    margin: 10px 0; }

#services .services-mobile {
  display: none; }
#services .clearfix {
  clear: both; }
#services #services-title {
  margin: 35px 0 30px 0; }
#services .icon-row {
  margin-top: 50px; }
#services .service-icons-container {
  text-align: center; }
  #services .service-icons-container #services-desktop {
    display: block; }
  @media screen and (max-width: 991px) {
    #services .service-icons-container #services-desktop {
      display: none; } }
  #services .service-icons-container .service-icon-container {
    text-align: center; }
    #services .service-icons-container .service-icon-container .service-icon {
      width: 250px;
      height: 250px;
      border-radius: 125px;
      margin: 0 auto;
      cursor: pointer;
      box-sizing: border-box; }
    #services .service-icons-container .service-icon-container .service-icon-display-inline {
      display: table-cell; }
    #services .service-icons-container .service-icon-container .service-icon-border {
      background-color: rgba(0, 0, 0, 0.1); }
    #services .service-icons-container .service-icon-container .service-icon-hide {
      animation: shrinkage .5s  ease forwards;
      -webkit-animation: shrinkage .5s  ease forwards;
      -moz-animation: shrinkage .5s  ease forwards; }
      #services .service-icons-container .service-icon-container .service-icon-hide .service-icon-image {
        animation: shrinkageI .5s  ease forwards;
        -webkit-animation: shrinkageI .5s  ease forwards;
        -moz-animation: shrinkageI .5s  ease forwards; }
    #services .service-icons-container .service-icon-container .service-icon-hide-special {
      animation: shrinkage .5s  ease forwards;
      -webkit-animation: shrinkage .5s  ease forwards;
      -moz-animation: shrinkage .5s  ease forwards; }
      #services .service-icons-container .service-icon-container .service-icon-hide-special .service-icon-image {
        vertical-align: middle;
        animation-name: shrinkageIcon;
        animation-duration: .5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        -webkit-animation-name: shrinkageIcon;
        -webkit-animation-duration: .5s;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: shrinkageIcon;
        -moz-animation-duration: .5s;
        -moz-animation-timing-function: ease;
        -moz-animation-fill-mode: forwards; }
    #services .service-icons-container .service-icon-container .service-icon-title {
      font-size: 32px;
      margin-bottom: 0px; }
    #services .service-icons-container .service-icon-container .service-icon-details {
      display: none;
      margin: 10px 0 0 0;
      font-size: 1.3em; }
      #services .service-icons-container .service-icon-container .service-icon-details .service-icon-details-sub-title {
        font-size: 1em; }
    #services .service-icons-container .service-icon-container .service-icon-details-show {
      position: absolute;
      width: 80%;
      border-bottom: 1px solid #ccc; }
    #services .service-icons-container .service-icon-container .service-details-display-inline {
      display: table-cell;
      text-align: left;
      padding: 0 50px;
      position: relative;
      vertical-align: top; }
    #services .service-icons-container .service-icon-container .service-icon-title-hide {
      animation: goOpac .3s ease forwards;
      -webkit-animation: goOpac .3s ease forwards;
      -moz-animation: goOpac .3s ease forwards; }
  #services .service-icons-container .block {
    display: table;
    width: 100%;
    margin: 25px 10%; }
    #services .service-icons-container .block .service-icon {
      margin: 0; }
    #services .service-icons-container .block .forensics-clicked {
      transition: all .75s;
      -webkit-transition: all .75s; }
      #services .service-icons-container .block .forensics-clicked .tiny-a-clicked {
        top: 36% !important;
        font-size: .3em !important;
        left: 4.4% !important;
        display: block;
        transition: all .75s;
        -webkit-transition: all .75s; }
    #services .service-icons-container .block .forensics-clicked:hover .tiny-a-clicked {
      font-size: 1em !important;
      top: 30% !important; }
  #services .service-icons-container #therapy {
    transition: all .45s;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    border: 2px solid #ff6d10; }
    #services .service-icons-container #therapy #therapy-image {
      margin: 0 auto;
      width: 87px;
      padding: 70px 0 0 25px; }
      #services .service-icons-container #therapy #therapy-image .balls-container .balls {
        width: 1.5em;
        height: 1.5em;
        margin: 10px 0;
        box-sizing: border-box;
        border-radius: 1em;
        background-color: #000;
        border: 4px solid #000; }
      #services .service-icons-container #therapy #therapy-image .balls-container .balls-shrinkage {
        animation: ballsShrinkage .5s  ease forwards;
        -webkit-animation: ballsShrinkage .5s  ease forwards;
        -moz-animation: ballsShrinkage .5s  ease forwards; }
      #services .service-icons-container #therapy #therapy-image .balls-container #first-black {
        transition: all .25s ease-in-out;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out; }
      #services .service-icons-container #therapy #therapy-image .balls-container #third-black {
        transition: all .25s ease-in-out .5s;
        -webkit-transition: all .25s ease-in-out .5s;
        -moz-transition: all .25s ease-in-out .5s; }
      #services .service-icons-container #therapy #therapy-image .balls-container .two-balls .balls {
        width: 1.5em;
        height: 1.5em;
        margin: 10px 0;
        box-sizing: border-box;
        border-radius: 1em;
        background-color: #000;
        border: 4px solid #000;
        display: inline-block;
        float: left;
        margin: 0 10px 0 0; }
      #services .service-icons-container #therapy #therapy-image .balls-container .two-balls .balls-shrinkage {
        animation: ballsShrinkageTwo .5s  ease forwards;
        -webkit-animation: ballsShrinkageTwo .5s  ease forwards;
        -moz-animation: ballsShrinkageTwo .5s  ease forwards; }
      #services .service-icons-container #therapy #therapy-image .balls-container .two-balls #second-black {
        transition: all .25s ease-in-out .25s;
        -webkit-transition: all .25s ease-in-out .25s;
        -moz-transition: all .25s ease-in-out .25s; }
      #services .service-icons-container #therapy #therapy-image .balls-container .two-balls .clearfix {
        clear: both; }
      #services .service-icons-container #therapy #therapy-image .balls-container #open {
        background-color: transparent;
        transition: all .25s ease-in-out .25s;
        -webkit-transition: all .25s ease-in-out .25s;
        -moz-transition: all .25s ease-in-out .25s; }
  #services .service-icons-container .therapy-shrinkage {
    animation: therapyShrinkage .5s  ease forwards;
    -webkit-animation: therapyShrinkage .5s  ease forwards;
    -moz-animation: therapyShrinkage .5s  ease forwards; }
  #services .service-icons-container #therapy:hover .balls-container #first-black {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 0px !important; }
  #services .service-icons-container #therapy:hover .balls-container #third-black {
    background-color: transparent;
    margin-left: 1.5em;
    margin-top: 0px !important; }
  #services .service-icons-container #therapy:hover .balls-container .two-balls #second-black {
    background-color: transparent; }
  #services .service-icons-container #therapy:hover .balls-container .two-balls #open {
    margin-right: 0px !important; }
  #services .service-icons-container #therapy-title {
    color: #484848; }
  #services .service-icons-container #neuro {
    border: 2px solid #06e144;
    transition: all .45s;
    -webkit-transition: all .45s;
    -moz-transition: all .45s; }
    #services .service-icons-container #neuro #neuro-image {
      font-size: 6.5em;
      color: #000;
      padding: 75px 0 0 25px;
      transition: all 1s;
      -webkit-transition: all 1s; }
  #services .service-icons-container #neuro:hover #neuro-image {
    color: #06e144; }
  #services .service-icons-container #neuro-title {
    color: #484848; }
  #services .service-icons-container #forensics {
    border: 2px solid #1c93d0;
    transition: all .45s;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    transition: all .75s;
    -webkit-transition: all .75s; }
    #services .service-icons-container #forensics #forensics-image {
      background: url(img/forensics.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 75px;
      margin: 0 auto;
      padding: 245px 0 0 0; }
      #services .service-icons-container #forensics #forensics-image #tiny-a {
        position: absolute;
        z-index: -100;
        top: 33%;
        width: 10px;
        color: #000;
        left: 45%;
        font-size: 0.5em;
        transition: all .75s;
        -webkit-transition: all .75s; }
      @media screen and (max-width: 1199px) {
        #services .service-icons-container #forensics #forensics-image #tiny-a {
          left: 43.5%; } }
  #services .service-icons-container #forensics:hover #forensics-image #tiny-a {
    font-size: 2em;
    top: 28.5%; }
  #services .service-icons-container #forensics-title {
    color: #484848; }
#services .service-icons-container-toggled {
  animation: leaveAndComeBack .65s ease forwards;
  -webkit-animation: leaveAndComeBack .65s ease forwards;
  -moz-animation: leaveAndComeBack .65s ease forwards; }
@media screen and (max-width: 750px) {
  #services .service-icons-container {
    display: none; }
  #services .services-mobile {
    display: block;
    margin-top: 25px; }
    #services .services-mobile .services-mobile-h1 {
      text-transform: uppercase; }
    #services .services-mobile #services-title {
      margin: 0px; }
    #services .services-mobile .mobile-therapy {
      color: #ff6d10; }
    #services .services-mobile .mobile-neuro {
      color: #06e144; }
    #services .services-mobile .mobile-forensics {
      color: #1c93d0; }
    #services .services-mobile .service-details {
      font-size: 1.3em; }
      #services .services-mobile .service-details .service-icon-details-sub-title {
        font-size: 1.3em;
        font-style: italic; } }

#contact #cog-background-3 {
  background: url(img/cog.png) no-repeat;
  position: absolute;
  background-size: 100%;
  z-index: -1200;
  width: 150px;
  height: 150px;
  background-position: center;
  margin: 5% 0 0 35%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  animation: spinCog 45s linear infinite;
  -webkit-animation: spinCog 45s linear infinite;
  -moz-animation: spinCog 45s linear infinite; }
#contact #contact-circle-container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: absolute; }
  #contact #contact-circle-container #contact-circle {
    width: 115%;
    height: auto;
    padding-top: 115%;
    border-radius: 50%;
    position: absolute;
    animation: rollInTwo .75s ease forwards;
    -webkit-animation: rollInTwo .75s ease forwards;
    -moz-animation: rollInTwo .75s ease forwards; }
#contact .contact-title {
  font-size: 3em;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 500;
  color: #484848; }
#contact .contact-container .col-6 h1, #contact .contact-container .col-6 h3 {
  color: #fff;
  position: relative; }
#contact .contact-container .col-6 .contact-sub {
  margin-top: 0px;
  font-size: 1.6em;
  color: #484848; }
#contact .contact-container #map {
  width: 100%;
  margin: 0 auto;
  height: 510px; }

@media screen and (max-width: 825px) {
  #home #home-circle-container #home-circle {
    width: 100%;
    padding-top: 100%;
    animation: rollInMobile .75s ease forwards;
    -webkit-animation: rollInMobile .75s ease forwards;
    -moz-animation: rollInMobile .75s ease forwards; } }

/*# sourceMappingURL=index.css.map */
