// fonts
$font: 'Nunito', sans-serif;
$large: 20pt;
$med: 14pt;
$small: 10pt;

// colors
$charcoal: #484848;
$orange: #ff6d10;
$blue: #d4f9f5;
$green: #06e144;
$purp: #f920cd;
$cream: #fefff3;

$light-orange: rgba(255, 109, 16, .85);

$trans-orange: #e8630d;
$trans-green: #04c93c;
$trans-purp: #cd1aa9;

